.post {
  margin-bottom: 45px;
  border: 1px solid lightgrey;
  max-width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.post__image {
  width: 100%;
  object-fit: contain;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
}

.post__text {
  font-weight: normal;
  padding: 15px;
}

.post__header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.post__avatar {
  margin-right: 10px;
}

.comment__box {
  display: flex;
  margin-bottom: -20px;
}

.comment__text {
  flex: 1;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-top: 1px solid lightgray;
  border-bottom: none;
  margin-top: 5px;
  margin-left: -20px;
}

.comment__button {
  flex: 0;
}
